<h1>New Stylist</h1>

<form action="/" class="form-horizontal" method="post">
  <label for="newStylist">Enter Stylist Here:</label>
  <input id="newStylistName" name="newStylistName" type="text"><br>

  <button type="submit" class="btn btn-info">Add Stylist</button>
</form>
