#if ($stylist)
  <h1>$stylist.getName()</h1>

  <table class="table table-hover">
    <tbody>
        #foreach ($client in $stylist.getClients())
            <tr>
              <td>$client.getName()</td>
            </tr>
        #end
    </tbody>
  </table>
  <br>
#else
  <h1> Task not found </h1>
#end


<a href="/$stylist.getId()/newappointment">Make An Appointment With $stylist.getName()</a>
